/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';
/* @import '../../../node_modules/font-awesome/css/font-awesome.min.css'; */

.ContactPage {
  height: 534px;
}

.ContactPage-form {
  margin-top: -11%;
  margin-left: 20%;
  max-width: var(--max-content-width);
  height: 534px;
}
